%<%

	// Retain only the first parse, just in case there are ambiguous parses of the raw data
	wlp_lex = wlp_lex.filter(x => x.length > 0).map(parse_trees => parse_trees[0])
	// wlp_lex = wlp_lex.slice(0, 100) // subset? for debugging

%>
%!TEX TS-program = xelatex
%!TEX encoding = UTF-8 Unicode
\documentclass[a4paper,11pt,twocolumn,twoside]{book}

\setlength\parindent{0pt}

\newenvironment{changemargin}[2]{%
\list{}{\rightmargin#2\leftmargin#1
\parsep=0pt\topsep=0pt\partopsep=0pt}
\item[]}
{\endlist}

\newenvironment{indentmore}{\vspace{0.5em}\begin{changemargin}{0.5cm}{0cm}}{\end{changemargin}}

\usepackage[margin=2cm, top=1in, headheight=15pt]{geometry}
\usepackage{datetime,fancyhdr,fontspec}
\usepackage{libertine}

% \newcommand{\wlptext}[1]{{\fontspec[Scale=MatchLowercase]{Menlo}#1}}
\newcommand{\wlptext}[1]{{\fontfamily{lmss}\selectfont #1}}

\begin{document}

\raggedright

\pagestyle{fancy}
\fancyhead{}
\fancyfoot{}
\fancyhead[LE, RO]{\thepage}
\fancyhead[CE]{Warlpiri dictionary draft}
\fancyhead[CO]{Generated \currenttime \hspace{0.25em} \today}

<% wlp_lex.forEach((wlp_entry, index) => { -%>

<%- include('entry_body.ejs', wlp_entry) %>

<% if(wlp_entry.sub_entries) { wlp_entry.sub_entries.map(sub_entry => { %>
	\begin{indentmore}
		<%- include('entry_body.ejs', sub_entry) %>
	\end{indentmore}
<% }) } %>

\vspace{1em}

<% }) -%>

\end{document}
