<%

	// Retain only the first parse, just in case there are ambiguous parses of the raw data
	wlp_lex = wlp_lex.filter(x => x.length > 0).map(parse_trees => parse_trees[0])
	// wlp_lex = wlp_lex.slice(0, 100) // subset? for debugging

%>

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<title>Warlpiri Dictionary</title>

	<style type="text/css">
		body {
			font-family: 'Times New Roman';
			font-size: 18pt;
			line-height: 1.5em;
		}

		h1 { font-size: 1em; }

		div.wlp_entry {
			border: 1px solid black;
			width: 500px;
			float: left;
			margin: 5px;
			padding: 5px;
		}

		div.sub_entries, div.pdx_group {
			padding-left: 1em;
			margin-top: 10px;
		}

		span.entry_label {
			font-size: 1.25em;
			font-weight: bold;
		}

		span.entry_label, span.pdx_label {
			background: #a6cee3;
		}

		div.sub_entries span.entry_label {
			font-size: 1.05em;
			font-style: italic;
		}

		span.entry_attrs {
			font-size: 0.75em;
			background: #1f78b4;
		}

		span.sense_num {
			background: #b15928;
		}

		span.definition {
			background: #b2df8a;
		}

		span.glosses {
			background: #33a02c;
		}

		span.comments {
			background: #fb9a99;
		}

		span.example.wlp {
			background: #fdbf6f;
		}

		span.example.eng {
			font-style: italic;
			background: #ff7f00;
		}

		span.cross_refs {
			background: #cab2d6;
		}

		span.cref_label {
			font-variant: small-caps;
		}
	</style>

</head>

<body>

<% wlp_lex.forEach((wlp_entry, index) => { %>

	<div class="wlp_entry">

		<%- include('entry_body.ejs', wlp_entry) %>

		<% if(wlp_entry.sub_entries) { wlp_entry.sub_entries.map(sub_entry => { %>
			<div class="sub_entries">
				<%- include('entry_body.ejs', sub_entry) %>
			</div>
		<% }) } %>

	</div>

<% }) %>

</body>

</html>
