<% if(entry_label) { %>
	<span class="entry_label">
	<%- entry_label.replace(/\*(\d)\*/, "<sup>$1</sup>")
				.replace(/\s\(([A-Z])/, '</span> <span class="entry_attrs">($1') %></span>
<% } %>

<% sense_entries.map((sense_entry, index) => { %>

	<% if(sense_entries.length > 1 & !sense_entry.pdx_label) { %>
		<span class="sense_num"><%= index + 1 -%><% if(sense_entry.sense_label) { %> <%= sense_entry.sense_label -%><% } %>.</span>
	<% } %>

	<% if(sense_entry.pdx_label) { %>
		<div class="pdx_group">
			<span class="pdx_label"><%= sense_entry.pdx_label %></span>
	<% } %>

	<% if(sense_entry.definition) { %>
		<span class="definition">
			<%= sense_entry.definition.replace(/\s+\.$/, '') %>.
		</span>
	<% } %>

	<% if(sense_entry.glosses) { %>
		<span class="glosses">
			[<%= sense_entry.glosses.replace(/\^/g, '') %>].
		</span>
	<% } %>

	<% if(sense_entry.eng_origin) { %>
		<span class="eng_origin">
			<%- sense_entry.eng_origin.replace(/<(.*?)>/g, '<em>$1</em>') -%>.
		</span>
	<% } %>

	<% if(sense_entry.comments) { %>
		<span class="comments">
			<%= sense_entry.comments.join(". ") %>
		</span>
	<% } %>

	<% if(sense_entry.examples) { %>
		<%- include('examples.ejs', { "example_blocks" : sense_entry.examples }) %>
	<% } %>

	<% if(sense_entry.cross_refs) { %>
		<span class="cross_refs">
			<%- include('cross_refs.ejs', sense_entry.cross_refs) %>
		</span>
	<% } %>

	<% if(sense_entry.pdx_label) { %>
		</div>
	<% } %>

	<% if(sense_entry.pdg_examples) { %>
		<div class="pdg_examples">
			<%- include('entry_body.ejs', { "entry_label" : null, "sense_entries" : sense_entry.pdg_examples }) %>
		</div>
	<% } %>

<% }) %>
