<% example_blocks.map(example_block => { %>

	<% if(example_block.comments) { %>
		<span class="comments">
			<%= example_block.comments.join(" ") %>
		</span>
	<% } %>

	<% example_block.example_pairs.map(example_pair => { %>

		<span class="example wlp">
			◆ <%= example_pair.wlp %>
		</span>

		<span class="example eng">
			<%= example_pair.eng %>
		</span>

	<% }) %>

<% }) %>
