<%

    // Retain only the first parse, just in case there are ambiguous parses of the raw data
    wlp_lex = wlp_lex.filter(x => x.length > 0).map(parse_trees => parse_trees[0])
    // wlp_lex = wlp_lex.slice(0, 1) // subset? for debugging

    // Note everything is flush-left so indents don't interfere with InDesign formatting :(
-%>
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<lexicon xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/" xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/"><% wlp_lex.forEach((wlp_entry, index) => { wlp_entry["label_type"] = "main" -%>
<main_block aid:pstyle="main_block"><%- include('entry_body.ejs', wlp_entry) -%>
<% if(wlp_entry.sub_entries) { wlp_entry.sub_entries.map(sub_entry => { sub_entry["label_type"] = "sub" -%>

<sub_block aid:pstyle="sub_block"><%- include('entry_body.ejs', sub_entry) %></sub_block><% }) } -%>
</main_block>
<% }) -%>
</lexicon>